.container {
  display: flex;
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

.winner {
  display: flex;
  justify-content: center;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #80cc4e;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.play-button {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: #4ECCA3;
  font-family: 'Lobster', cursive;
  cursor: pointer;
}

.animate-play-button {
  background-color: #72cc4e;
  box-shadow: 2px 2px 5px rgba(252, 251, 251, 0.5);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
